Version: 1.0
Package: ph0enixC0der.github.ios-kern-utils
Maintainer: ph0enixC0der
Name: kern-utils
Architecture: iphoneos-arm
Description: kdump
 Utilities for playing with the kernel. Requires tfp0 patch
Section: Development
